extends ../layout

block variables
  -
    let accItems = [
      {
        headingContent: "Item 111",
        bodyContent: "Lorem10",
      },
      {
        headingContent: "Item 2222",
        bodyContent: "Lorem20",
      },
      {
        headingContent: "Item 3333",
        bodyContent: "Lorem30",
      },
    ]

block content

  +acc("acc_1", accItems)
  +acc("acc_2")
